.introduction {
    background-color: #ADD8E6;
    padding-top: 10px;
    padding-left: 10px;
}

.introduction .top .border-radius_width {
    border-radius: 50%;
    width: 250px;
}

.dotted {
    color: green;
    border: dotted;
    size: 15px;
}

.headlines {
    font-size: 22.5px;
    color: darkcyan;
}

.head {
    color: darkcyan;
}
.checked {
    color: yellow
}

.in_headlines{
    font-size: 17.5px;
}